.header {
    &__content {
        padding: 20px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid black;
    }
    &__text {
        font-size: 24px;
        margin: 0 10px;
    }
    &__select {
        border: 1px solid black;
    }
}

.main {
    &__content {
        padding: 20px;
    }

    &__text {
        font-weight: bold;
        margin-bottom: 30px;
    }
    &__wrap {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 200px;
    }

    &__wrap-input {
        display: flex;
    }
    &__func {
        margin-bottom: 30px;
        display: flex;
        gap: 20px;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        width: 120px;
        font-size: 20px;
        position: relative;
        border: 2px solid black;
        border-radius: 7px;
        &:has(> input:checked) {
            border: 2px solid rgb(86, 172, 253);
            color: rgb(86, 172, 253);
            & .main__item-text_d {
                span:first-child {
                    border-color: rgb(86, 172, 253);
                }
            }
        }
        &-input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
        &-text_d {
            width: max-content;
            display: flex;
            flex-direction: column;
            span:first-child {
                padding-bottom: 2px;
                border-bottom: 1px solid black;
            }
        }
    }
}

